.acfff-dropzone {
  position: relative;
}
.acfff-dropzone .acf-image-uploader.is-dragover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.acfff-dropzone .acf-image-uploader {
  position: relative;
  height: 0;
  padding-bottom: 63%;
}

.acfff-dropzone .acfff-instructions {
  position: absolute !important;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.acfff-dropzone .acfff-instructions__body {
  color: rgba(0, 0, 0, 0.5);
}
.acfff-dropzone .acf-label .description {
  text-transform: none;
  margin: 0;
}
.acfff-dropzone:not(.has-value) .show-if-value {
  display: none;
}
.acfff-dropzone .image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  background-position: center;
  z-index: 2;
  max-width: none !important;
}
.acfff-dropzone .image-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}
.acfff-dropzone .acf-actions {
  display: block;
  pointer-events: all;
}
.acfff-dropzone [data-name="remove"] {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background: none !important;
  transform: translate3d(50%, -50%, 0);
}
.acfff-dropzone [data-name="remove"] svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate3d(-50%, -50%, 0);
  fill: var(--acfff-white);
  stroke-width: 1.5px;
}
.acfff-dropzone input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  padding: 0;
  z-index: 1;
}
