/*
 * ACF Repeater styles
 */
:where(acf-frontend-form .acf-field-repeater) {
  position: relative;

  > .acf-label {
    display: none;
  }

  .acf-fields {
    border: none;
    flex: 1;
  }

  .acf-field {
    border: none;
    width: 100%;
  }
  .acf-clone {
    display: none !important;
  }
  .acf-table,
  .acf-table tbody {
    width: 100%;
    display: block;
  }
  .acf-table tr {
    position: relative;
    display: block;
    border-bottom: var(--acfff-border-style);
  }
  .acf-table tr:last-child {
    border-bottom: 0;
  }
  .acf-table td {
    display: block;
    position: relative;
  }
  .acf-row-handle.order {
    display: none;
  }
  .acf-row-handle.remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    padding: 0 !important;
    width: 60px;
  }

  [data-event] {
    display: relative;
    flex: none;
    width: 1.7em;
    height: 1.7em;
    background: none !important;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100px;
    z-index: 3;
    margin-left: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .acf-actions {
    display: flex;
    justify-content: flex-end;
  }
  .acf-actions [data-event="add-row"].disabled {
    display: none !important;
  }

  .acf-tooltip {
    position: absolute;
    display: none;
  }
}
