:root {
  --acfff-black: #000;
  --acfff-white: #fff;

  --acfff-red: hsla(10, 100%, 55%, 1);
  --acfff-green: hsla(139, 100%, 42%, 1);
  --acfff-blue: hsla(200, 100%, 50%, 1);

  --acfff-border-style: 2px solid;
}
